<h1>Editing Signature Request</h1>

<%= render 'form' %>

<%= link_to 'Show', user_template_signature_request_path(current_user, params[:template_id], @signature_request) %> |
<%= link_to 'Back', user_template_signature_requests_path %>